nav {
	a {
		color: #b0b0b0;
		font-size: 14px;
		text-decoration: none;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		padding:5px 12px;
		border-radius: 3px;
		border: 1px solid rgba(255,255,255,0);
		&:hover {
			color: $white;
			border: 1px solid rgba(255,255,255,1);
			@include hover(all, 0.5s);
		}
	}
	// /a
	a.getStarted-btn {
		background: $teal;
		border: none;
		box-shadow: inset 0 1px 0 #51ffdf;
		text-shadow: 0 1px 0.5px #000;
		padding: 10px 12px;
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		margin-left: 10px;
		&:hover {
			background: #009e81;
			@include hover(background,0.1s)
		}
	}
}
section.home div.getStarted {
	a {
		@include getStarted;
		&:hover {
			@include getStarted-hover;
		}
	}
}

.scroll {
	a {
		text-decoration: none;
		h4 {
		margin: 0;
		color: rgba(255,255,255,0.15);
		font-weight: 300;
		}
		svg.downArrow {
			width: 40px;
			height: 40px;
			padding-top: 10px;
			circle {
			stroke: rgba(255,255,255,0.15);
			}
			polygon {
			fill: rgba(255,255,255,0.15);
			}
		}
		// /.downArrow
	}
		// /a
	&:hover h4 {
		color: rgba(255,255,255,0.8);
		@include hover(color, 0.5s);
	}
	&:hover svg > g > circle {
		stroke: rgba(255,255,255,0.8);
		@include hover(stroke, 0.5s);
	}
	&:hover svg > g > polygon {
		fill: rgba(255,255,255,0.8);
		@include hover(fill, 0.5s);
	}	
}
