section.portfolio {
	display: inline-block;
	float: none;
	margin: 0;
	div {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	.filter {
		width: 25%;
		float: right;
		margin-top: 10%;
		.selected {
			width: 100%;
			height: 50px;
			border: 1px solid #eaeaea;
			list-style-type: none;
			background: none;
			position: relative;
			cursor: pointer;
			div.expand, 
			div.close {
				position: absolute;
				top: 14px;
				right: 18px;
				cursor: pointer;
				z-index: 200;
				i {
					font-size: 1em;
					color: #bfbfbf;
				}
			}
			> li {
				// direct children of .selected
				position: absolute;
				top: 0;
				left: 0;
				padding: 14px;
				font-family: $basefontfamily;
				font-size: 15px;
				color: #b8b8b8;
				font-weight: 300;
				text-transform: uppercase;
				display: block;
				width: 100%;
				cursor: pointer;
				.drop-down {
					position: absolute;
					top: 120%;
					left: 0;
					right: 0;
					z-index: 210;
					background: #f5f5f5;
					width: 100%;
					list-style-type: none;
					padding: 0;
					box-shadow: 0 3px 0 #d0d0d0;
					border-radius: 0 0 3px 3px;
					li {
						margin: 0;
						padding: 14px 0 14px 14px;
						color: #828282;
						cursor: pointer;
						&:hover, &:active {
							background: #ecebeb;
						}
					}
				}
				// /.drop-down
			}
			// / direct li
		}
		// /.selected
	}
	// /.filter
	.works {
		margin: 0 auto;
		padding: 62px 0 0 0;
	}
	.work {
		width: 31.3%;
		float: left;
		margin-left: 0;
		padding-bottom: 50px;
		border: $guide;
		margin-right: 2%;
		.thumb {
			position: relative;
			width: 100%;
			background: url(../assets/placeholders/portfolio.png) no-repeat center center;
			@include cover-bkg;
			padding: 50%;
			overflow: hidden;
			div.overlay {
				position: absolute;
				top: 0;
				left:0;
				right: 0;
				bottom: 0;
				z-index: 10;
				background: $teal;
				overflow: hidden;
				opacity: 0;
			}
			// /.overlay
			object {
				width: 20%;
				display: inline-block;
				height: 20%;
				position: absolute;
				top: 40%;
				left: 40%;
				svg.zoom {
					position: absolute;
					top: 0;
					left: 0;
					z-index:20;
					width: 100%;
					fill: #fff;
					opacity: 0;
				}
			}
			&:hover div.overlay,
			&:hover svg.zoom {
				opacity: 0.8;
				@include hover(all,0.5s)
			}
		}
		// /.thumb 
		h3 {
			margin: 34px 0 21px 0;
			font-size: 20px;
			font-weight: 300;
			color: #828282;
		}
		h5 {
			margin: 0;
			font-size: 12px;
			font-weight: 300;
			color: #b8b8b8;
		}
	}
	// /.work
}