
// SKILLS

.ourSkills {
	margin:0;
	padding-bottom: 86px;
	div {
		float: left;
	}
	div.skills {
		width: 52%;
		float: left;
		padding-top: 8%;
		ul {
			float: right;
			margin: 0;
		}
		li {
			float: left;
			border: 1px solid $teal;
			border-radius: 5px;
			list-style-type: none;
			font-size: 18px;
			font-weight: 300;
			color: $teal;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-right: 19px;
			&:last-child {
				margin-right: 0;
			}
		}
		.row1 li {
			padding: 17px 16px;
			margin-bottom: 20px;
		}
		.row2 li {
			padding: 13px;
		}
	}
	// /.skills
}
// /.ourSkills