section.blog {
	padding-bottom: 50px;
	p {
		margin-bottom: 41px;
	}
	div.ourBlog {
		display: inline-block;
		width: 50%;
		margin: 0;
	}
	// /.ourBlog
	.blogPage {
		display: inline-block;
		width: 49%;
		a.blog {
			width: auto;
			max-width: 240px;
			float: right;
			@include teal-btn;
			margin: 10% 0 10px 0;
			padding: 0 17px;
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			text-align: center;
			&:hover {
				background: #fff;
			}
		}
	}
	// /a.blog
} 
// /.blog

div.posts {
	width: 100%;
	.post {
		width: 32.6%;
		float: left;
		margin: 0 1% 44px 0;
		border-radius: 5px;
		background: #fafafa;
		overflow: hidden;
		&:last-child {
			margin-right: 0;
		}
		.post-thumb {
			height: 180px;
			background: url(../assets/placeholders/blog.png) no-repeat center center;
			@include cover-bkg;
		}
		.teaser {
			padding: 18px 22px;
			border: $guide;
			img {
				width: 100%;
			}
			h3 {
				font-size: 18px;
				font-weight: 300;
				color: #8e8e8e;
				margin: 0;
			}
			p {
				font-size: 14px;
				color: #b8b8b8;
				line-height: 23px;
				margin: 0;
				padding-top: 18px;
			}
			a { 
			font-size: 10.46px;
			color: #999999;
			border: 1px solid #e3e3e3;
			padding: 12px 19px;
			text-decoration: none;
			display: inline-block;
			margin-top: 17px;
			text-transform: capitalize;
				&:hover {
					@include teal-btn;
					@include hover(all,0.5s)
				}
				&:active {
					@include teal-btn;
				}
			}
			// /a
		}
		// /.teaser
	}
	// /.post
}