section.blog {
	div.ourBlog {
		display: inline-block;
		width: 50%;
		margin: 0;
	}
	// /.ourBlog
	a.blog {
		@include goToPage;
		margin-bottom: 0;
	}
	// /a.blog
} 
// /.blog

div.posts {
	width: 100%;
	margin-top: 30px;
	.post {
		width: 32.6%;
		float: left;
		margin: 0 1% 44px 0;
		border-radius: 5px;
		background: #fafafa;
		overflow: hidden;
		&:last-child {
			margin-right: 0;
		}
		.post-thumb {
			height: 180px;
			width: 100%;
			// @include cover-bkg;
		}
		
		// .post2 {
		// 	background: url(../assets/placeholder/photo9.jpg) no-repeat center center;
		// }
		// .post3 {
		// 	background: url(../assets/placeholder/photo10.jpg) no-repeat center center;
		// }
		.teaser {
			padding: 18px 22px;
			border: $guide;
			img {
				width: 100%;
			}
			h3 {
				font-size: 18px;
				font-weight: 300;
				color: #8e8e8e;
				margin: 0;
			}
			p {
				font-size: 14px;
				color: #b8b8b8;
				line-height: 23px;
				margin: 0;
				padding-top: 18px;
			}
			a { 
			font-size: 10.46px;
			color: #999999;
			border: 1px solid #e3e3e3;
			padding: 12px 19px;
			text-decoration: none;
			display: inline-block;
			margin-top: 17px;
			text-transform: capitalize;
				&:hover {
					@include teal-btn;
					@include hover(all,0.5s)
				}
				&:active {
					@include teal-btn;
				}
			}
			// /a
		}
		// /.teaser
	}
	// /.post
}