
@import '_reset';
@import '_grid';

// VARIABLES

$basefontfamily: "Lato", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$white: #fff;
$bkgGrey: #eaeaea;
$teal: #0bb697;
$guide: none;

// MIXINS

@mixin section-h2 {
	margin-top: 18%;
	margin-bottom: 24px;
	font-size: 28px;
	font-weight: 300;
	color: #828282;
	text-transform: capitalize;
	letter-spacing: 2px;
	line-height: 1px;
}

@mixin bkg-settings {
	background: no-repeat center center;
}

@mixin cover-bkg {
	width: 100%;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin hover($property, $sec) {
	-webkit-transition: $property $sec;
	transition: $property $sec;
}

@mixin grey-btn {
	padding: 9px 36px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	text-decoration: none;
	color: #b8b8b8;
	font-size: 16px;
	font-weight: 300;
}

@mixin teal-btn {
	color: $teal;
	border: 1px solid $teal;
	text-decoration: none;
	font-weight: 300;
}

@mixin getStarted {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	padding:10px 25px;
	border-radius: 3px;
	border: 1px solid #fff;
}

@mixin getStarted-hover {
	color: $teal;
	border-color: $teal;
	background: #fff;
	@include hover(all, 0.3s);
}

@mixin focus {
	border: 1px solid $teal;
	box-shadow: none;
	outline:none;
}
@mixin focus-btn {
	outline: 1px solid #b0b0b0;
}

// DEFAULTS

body {
	height: 100%;
  	font-weight: 300;
	font-size: 13px;
	font-family: $basefontfamily;
	background: none;	
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
	border: $guide;
}

img {
	max-width: 100%;
}

div.col-7 {
	@include column(7);
	display: block;
	float: none;
	margin: 0;
}

div.col-6 {
	@include column(6);
	display: block;
	float: none;
	margin: 0;
}

section p {
	font-size: 16px;
	font-weight: 300;
	color: #b8b8b8;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin: 0;
}

// BACKGROUNDS

.bkg.home {
	@include bkg-settings;
	@include cover-bkg;
	background-image: url(../assets/backgrounds/bg1.jpg);
	background-attachment: fixed;
}

.books {
	background: #eeeeee;
}
.bkg.polygon {
	@include bkg-settings;
	@include cover-bkg;
	background-image: url(../assets/backgrounds/bg2.jpg);
}

.bkg.darkblue {
	background: #263845;
}

.bkg.twitter {
	@include bkg-settings;
	@include cover-bkg;
	background-image: url(../assets/backgrounds/bg4.jpg);
}

.bkg.white {
	background: $white;
}

.bkg.grey {
	background: $bkgGrey;
}

// HEADER

header {
	// @include row();
	padding: 0;
	position: relative;
}

.name {
	display: inline-block;
	float: left;
	margin-right: 0;
	border: $guide;
	h1 {
		margin-bottom: 0;
		color: $white;
		font-size: 32px;
		font-weight: 300;
		letter-spacing: 2px;
		text-transform: uppercase;
		svg.square {
			width: 10px;
			fill: $teal;
			position: relative;
			bottom: -3px;
		}
	}
	h3 {
		margin-top: 0;
		color: #7e8a98;
		font-weight: 300;
		font-size: 11px;
	}
}
// /.name

nav {
	margin: 0;
	padding: 39px 0 0 0;
	float: right;
	border: $guide;
	ul {	
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style-type: none;
		}
	}
	// /ul
	a {
		color: #b0b0b0;
		font-size: 14px;
		text-decoration: none;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		padding:5px 12px;
		border-radius: 3px;
		border: 1px solid rgba(255,255,255,0);
		&:hover {
			color: $white;
			border: 1px solid rgba(255,255,255,1);
			@include hover(all, 0.5s);
		}
	}
	// /a
	a.getStarted-btn {
		background: $teal;
		border: none;
		box-shadow: inset 0 1px 0 #51ffdf;
		text-shadow: 0 1px 0.5px #000;
		padding: 10px 12px;
		color: #fff;
		font-size: 11px;
		margin-left: 10px;
		&:hover {
			background: #009e81;
			@include hover(background,0.1s)
		}
	}
	// /.getStarted-btn
}
// /.nav

// HOME

section.home {
	@include column(10);
	@include push(1);
	display: block;
	float: none;
	text-align: center;
	padding: 10px;
	border: $guide;
	h2 {
		font-size: 48px;
		color: $white;
		font-weight: 300;
		text-transform: uppercase;
	}
	div.getStarted {
		margin: 40px 0;
		a {
			@include getStarted;
			&:hover {
				@include getStarted-hover;
			}
		}
	}
	// /.getStarted
	p {
		font-size: 20px;
		color: #8a97a5;
	}
}
// /.home

.scroll {
	padding-bottom: 20px;
	width: 20%;
	margin: auto;
	border: $guide;
	text-align: center;
	display: inline-block;
		a {
			text-decoration: none;
			h4 {
			margin: 0;
			color: rgba(255,255,255,0.15);
			font-weight: 300;
			}
			svg.downArrow {
				width: 40px;
				height: 40px;
				padding-top: 10px;
				circle {
				stroke: rgba(255,255,255,0.15);
				}
				polygon {
				fill: rgba(255,255,255,0.15);
				}
			}
			// /.downArrow
		}
		// /a
	&:hover h4 {
		color: rgba(255,255,255,0.8);
		@include hover(color, 0.5s);
	}
	&:hover svg > g > circle {
		stroke: rgba(255,255,255,0.8);
		@include hover(stroke, 0.5s);
	}
	&:hover svg > g > polygon {
		fill: rgba(255,255,255,0.8);
		@include hover(fill, 0.5s);
	}	
}

// MEET A PERSON

.cushion {
	width: 49%;
	float: left;
	border: $guide;
	margin: 0;
	padding: 0;
	overflow: hidden;
	img {
		width: 100%;
		position: relative;
		bottom: -2px;
	}
}
// /.cushion

section.meet {
	width: 50%;
	float: left;
	border: $guide;
	margin: 0;
	padding: 8% 0 0 0;
	h2 {
		font-size: 28px;
		font-weight: 300;
		color: #535353;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		margin: 0;
	}
	p {
		font-size: 15px;
		font-weight: 300;
		color: #b8b8b8;
		margin: 0;
		padding-top: 18px;
	}
}
// /.meet

// OUR SERVICES

.services {
	padding-bottom: 30px;
	div.col-7 {
		margin-bottom: 63px;
		h2 {
			@include section-h2;
		}
	}
	.featured-services {
		width: 100%;
		display: block;
		float: none;
		.feature {
		width: 32.99%;
		display: inline-block;
		margin: 0 0 52px 0;
		border: $guide;
			// &:last-child, &:nth-child(3) {
			// 	margin-right: 0;
			// 	float: right;
			// }
			img {
				float: left;
				width: 40%;
				margin-right: 5%;
				margin-bottom: 5px;
				max-width: 80px;
			}
			.description {
				padding: 0 0 0 80px;
				h3 {
					color: #444444;
					font-size: 20px;
					font-weight: 300;
					margin: 0;
				}
				p {
					font-size: 12px;
					color: #bababa;
					line-height: 20px;
					margin: 0;
					padding-right: 10%;
				}
			}
			// /.description
		}
		// /.feature
	}
	// /.featured-services
}
// /.services

// BLOG

section.blog {
	padding-bottom: 50px;
	div.ourBlog {
		display: inline-block;
		width: 50%;
		margin: 0;
		h2 {
			@include section-h2;
		}
		p {
			margin-bottom: 41px;
		}
	}
	// /.ourBlog
	.blogPage {
		display: inline-block;
		width: 49%;
		a.blog {
			width: auto;
			max-width: 240px;
			float: right;
			@include teal-btn;
			margin: 10% 0 10px 0;
			padding: 0 17px;
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			text-align: center;
			&:hover {
				background: #fff;
			}
		}
	}
	// /a.blog
} 
// /.blog

div.posts {
	width: 100%;
	.post {
		width: 32.6%;
		float: left;
		margin: 0 1% 44px 0;
		border-radius: 5px;
		background: #fafafa;
		overflow: hidden;
		&:last-child {
			margin-right: 0;
		}
		.post-thumb {
			height: 180px;
			background: url(../assets/placeholders/blog.png) no-repeat center center;
			@include cover-bkg;
		}
		.teaser {
			padding: 18px 22px;
			border: $guide;
			img {
				width: 100%;
			}
			h3 {
				font-size: 18px;
				font-weight: 300;
				color: #8e8e8e;
				margin: 0;
			}
			p {
				font-size: 14px;
				color: #b8b8b8;
				line-height: 23px;
				margin: 0;
				padding-top: 18px;
			}
			a { 
			font-size: 10.46px;
			color: #999999;
			border: 1px solid #e3e3e3;
			padding: 12px 19px;
			text-decoration: none;
			display: inline-block;
			margin-top: 17px;
			text-transform: capitalize;
				&:hover {
					@include teal-btn;
					@include hover(all,0.5s)
				}
				&:active {
					@include teal-btn;
				}
			}
			// /a
		}
		// /.teaser
	}
	// /.post
}
// /.posts

// SUPPORT

section.support {
	@include column(10);
	@include push(1);
	display: block;
	float: none;
	text-align: center;
	padding-top: 58px;
	h2 {
		font-size: 30px;
		color: $white;
		font-weight: 300;
		letter-spacing: 1.5px;
		margin: 0;
		margin-bottom: 16px;
		span {
			text-transform: uppercase;
		}
	}
	p {
		font-size: 18px;
		color: #999999;
		font-weight: 300;
		margin: 0;
	}
	a.getStarted {
		margin: 26px 0 55px 0;
		display: inline-block;
		@include getStarted;
		&:hover, &:active {
			@include getStarted-hover;
		}
	}
}
// /.support

// PORTFOLIO

section.portfolio {
	display: inline-block;
	float: none;
	margin: 0;
	padding: 0;
	div {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	h2 {
		@include section-h2;
	}
	.filter {
		width: 25%;
		float: right;
		margin-top: 10%;
		.selected {
			width: 100%;
			height: 50px;
			border: 1px solid #eaeaea;
			list-style-type: none;
			background: none;
			position: relative;
			cursor: pointer;
			div.expand, 
			div.close {
				position: absolute;
				top: 14px;
				right: 18px;
				cursor: pointer;
				z-index: 200;
				i {
					font-size: 1em;
					color: #bfbfbf;
				}
			}
			> li {
				// direct children of .selected
				position: absolute;
				top: 0;
				left: 0;
				padding: 14px;
				font-family: $basefontfamily;
				font-size: 15px;
				color: #b8b8b8;
				font-weight: 300;
				text-transform: uppercase;
				display: block;
				width: 100%;
				cursor: pointer;
				.drop-down {
					position: absolute;
					top: 120%;
					left: 0;
					right: 0;
					z-index: 210;
					background: #f5f5f5;
					width: 100%;
					list-style-type: none;
					padding: 0;
					box-shadow: 0 3px 0 #d0d0d0;
					border-radius: 0 0 3px 3px;
					li {
						margin: 0;
						padding: 14px 0 14px 14px;
						color: #828282;
						cursor: pointer;
						&:hover, &:active {
							background: #ecebeb;
						}
					}
				}
				// /.drop-down
			}
			// / direct li
		}
		// /.selected
	}
	// /.filter
	.works {
		margin: 0 auto;
		padding: 62px 0 0 0;
	}
	.work {
		width: 31.3%;
		float: left;
		margin-left: 0;
		padding-bottom: 50px;
		border: $guide;
		margin-right: 2%;
		.thumb {
			position: relative;
			width: 100%;
			background: url(../assets/placeholders/portfolio.png) no-repeat center center;
			@include cover-bkg;
			padding: 50%;
			overflow: hidden;
			div.overlay {
				position: absolute;
				top: 0;
				left:0;
				right: 0;
				bottom: 0;
				z-index: 10;
				background: $teal;
				overflow: hidden;
				opacity: 0;
			}
			// /.overlay
			svg.zoom {
				position: absolute;
				top: 41%;
				left: 40%;
				z-index:20;
				width: 20%;
				fill: #fff;
				opacity: 0;
			}
			&:hover div.overlay,
			&:hover svg.zoom {
				opacity: 0.8;
				@include hover(all,0.5s)
			}
		}
		// /.thumb 
		h3 {
			margin: 34px 0 21px 0;
			font-size: 20px;
			font-weight: 300;
			color: #828282;
		}
		h5 {
			margin: 0;
			font-size: 12px;
			font-weight: 300;
			color: #b8b8b8;
		}
	}
	// /.work
}
// /.portfolio

// HIGHLIGHTS

.highlights {
	width: 100%;
	margin: 0;
	padding: 0;
	padding: 43px 0px;
	.highlight {
		width: 25%;
		height: 112px;
		float: left;
		margin: 0 auto;
		border-right: 1px solid #b8b8b8;
		padding: 22px 0 0 0;
		text-align: center;
		&:last-child {
			border: none;
		}
		span {
			display: inline-block;
			width: 97%;
			border: $guide;
		}
		h2 {
			margin: 0 1% 0 0;
			padding: 0;
			display: inline-block;
			width: auto;
			font-size: 48px;
			font-weight: 300;
			color: $teal;
			letter-spacing: 1.2px;
			text-align: center;
		}
		h3 {
			display: inline-block;
			width: auto;
			padding: 0;
			margin: 7px 0 0 0;
			font-size: 18px;
			font-weight: 300;
			color: #b0b0b0;
			letter-spacing: 1.2px;
			line-height: 20px;
			text-transform: capitalize;
			text-align: left;
			border: $guide;
		}
	}
	// /.highlight
}
// /.highlights

// CLIENTS

section.clients {
	div.col-6 {
		@include push(3);
		text-align: center;
		h2 {
			font-size: 30px;
			color: #fff;
			font-weight: 300;
			letter-spacing: 3px;
			text-transform: capitalize;
			padding: 65px 0 15px 0;
			margin: 0;
		}
	}
}
// /.clients

 .carousel-inner {
 	position: relative;
 	overflow: hidden;
 	width: 100%;
 	padding-bottom: 10px;
 	.carousel-view:checked + .testimonials {
 		position: static;
 		opacity: 100;
 	}
 	.testimonials {
 		position: absolute;
 		opacity: 0;
		-webkit-transition: opacity 1s ease-out;
		transition: opacity 1.5s ease-out;
 	}
	.testimonial {
		width: 50%;
		float: left;
		margin: 69px 0 116px 0;
		padding: 0;
		position: relative;
		.client-photo {
			display: inline-block;
			padding: 0;
			margin-right: 2%;
			vertical-align: top;
			border-radius: 100%;
			background: #eaeaea;
			border: 6px solid #152028;
			overflow: hidden;
		}
		// /.client-photo
		.quote {
			display: inline-block;
			width: 65%;
			padding-right: 5px;
			border: $guide;
			p {
				font-size: 18px;
				font-weight: 300;
				color: #828282;
				line-height: 21px;
				letter-spacing: 1px;
				margin-bottom: 8%;
			}
			h3 {
				font: 16px;
				font-weight: 400;
				color: $teal;
				letter-spacing: 3px;
				margin: 0 0 10px 0;
			}
			h4 {
				font-size: 12px;
				font-weight: 300;
				color: #828282;
				letter-spacing: 2px;
				margin: 0;
				font-style: italic;
			}
		}
		// /.quote
	}
	// /.testimonial
	.carousel-indicators {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 15%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 10;
		li {
			display: inline-block;
			margin: 0 5px;
			.bullet {
				color: #fff;
				cursor: pointer;
				display: block;
				font-size: 1em;
				&:hover, &:active {
					color: #aaaaaa;
				}
			}
		}
		// /li
	}
	// /.carousel-indicators
}
// /.carousel-inner

// OUR TEAM

.ourTeam {
	h2 {
		@include section-h2;
	}
	.staff-members {
		margin: 58px 0 56px 0;
	}
}
// /.ourTeam

.member {
	width: 22%;
	float: left;
	margin-right: 2.667%;
	margin-left: 0;
	text-align: center;
	&:last-child {
		margin-right: 0;
	}
	.profile-img {
		width: 180px;
		height: 180px;
		background: #f9f9f9;
		border: 7px solid #f8f1f1;
		border-radius: 100%;
		margin: 0 auto;
	}
	h3 {
		font-size: 20px;
		font-weight: 300;
		color: #505050;
		text-transform: capitalize;
		margin: 0;
		padding: 22px 0 0 0;
	}
	h4 {
		margin: 8px 0 30px 0;
		font-size: 13px;
		font-weight: 300;
		color: #9e9e9e;
		padding: 0;
	}
	ul {
		padding: 0;
		margin: 20px 0;
		li {
		list-style-type: none;
		text-align: center;
		display: inline-block;
		margin-right: $gutter-width;
			&:last-child {
				margin-right: 0;
			}
			svg {
				fill: #b7b7b7;
				width: 24px;
				height: 24px;
				&:hover {
					@include hover(all,0.3s)
				}
			}
			svg.facebook:hover, svg.facebook:active {
				fill: #3b5998;
			}
			svg.twitter:hover, svg.twitter:active {
				fill: #00acee;
			}
			svg.forrst:hover, svg.forrst:active {
				fill: #5b9a68;
			}
			svg.dribbble:hover,svg.dribbble:active {
				fill: #ea4c89;
			}
		}
	}
	// /ul
}
// /.member

div.member.join {
	div.profile-img {
	background: $teal;
	position: relative;
		svg.plus {
			position: absolute;
			top: 22%;
			left: 35%;
			fill: #fff;
			width: 30%;
		}
	}
	// /.profile-img
	a.apply {
		@include grey-btn;
		&:hover {
			@include teal-btn;
			@include hover(all,0.3s);
		}
		&:active {
			@include teal-btn;
		}
	}
	// /.apply
}
// /.member.join

// SKILLS

.ourSkills {
	margin:0;
	padding: 0 0 86px 0;
	div {
		float: left;
		h2 {
			@include section-h2;
		}
	}
	div.skills {
		width: 52%;
		float: left;
		padding-top: 8%;
		ul {
			float: right;
			margin: 0;
		}
		li {
			float: left;
			border: 1px solid $teal;
			border-radius: 5px;
			list-style-type: none;
			font-size: 18px;
			font-weight: 300;
			color: $teal;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-right: 19px;
			&:last-child {
				margin-right: 0;
			}
		}
		.row1 li {
			padding: 17px 16px;
			margin-bottom: 20px;
		}
		.row2 li {
			padding: 13px;
		}
	}
	// /.skills
}
// /.ourSkills

// TWEETS

section.tweets {
	width: 60%;
	margin: 0 auto;
	padding: 70px 0;
	text-align: center;
	svg {
		fill: #fff;
		width: 95px;
		padding-bottom: 36px;
	}
	h2 {
		font-size: 21px;
		font-weight: 300;
		color: #ffffff;
		margin: 0;
		letter-spacing: 0.5px;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		line-height: 1.6;
		color: #c6c6c6;
		padding: 22px 0 24px 0;
	}
	h5, h6 {
		margin: 0;
	}
	a {
		text-decoration: none;
	}
	h5 {
		font-size: 14.5px;
		color: #ffffff;
		font-weight: 300;
	}
	h6 {
		font-size: 12px;
		font-weight: 300;
		color: $teal;
		padding-top: 12px;
	}
}
// /.tweets

// CONTACT

section.contactInfo {
	padding-top: 77px;
	div.left {
		width: 50%;
		float: left;
		margin: 0;
		padding-right: 20px;
		div.map {
			width: 100%;
			overflow: hidden;
			iframe {
				width: 480px;
				height: 600px;
			}
		}
		p {
			font-size: 16px;
			color: #b8b8b8;
			font-weight: 300;
		}
		ul {
			padding: 0;
		}
		li {
			list-style-type: none;
			font-size: 14px;
			margin: 0 0 20px 0;
			padding: 0;
			h3 {
				color: $teal;
				font-weight: 300;
				display: inline-block;
				margin: 0;
			}
			p {
				color: #b8b8b8;
				display: inline-block;
				margin: 0;
			}
		}
	}
	// /.left
	div.right {
		width: 50%;
		margin: 0;
		padding: 0 0 77px 0;
		float: right;
		h2 {
			@include section-h2;
			margin-top: 0;
		}
		form {
			padding-top: 40px;
			label {
				font-size: 12.9px;
				color: $teal;
				font-weight: 300;
				display: block;
			}
			input[type=text], textarea {
				width: 100%;
				padding: 17px;
				margin: 18px 0 27px 0;
				border: 1px solid #eeeeee;
				border-radius: 5px;
				color: #b8b8b8;
				font-size: 16px;
				&:focus {
					@include focus;
				}
			}
		}
		// /form
		input[type=submit] {
			display: block;
			float: right;
			background: none;
			color: #b8b8b8;
			@include grey-btn;
			&:hover {
				@include teal-btn;
				@include hover(all,0.3s);
			}
			&:focus {
				@include focus-btn;
			}
		}
		// /submit
	}
	// /.right
}
// /.contact

// SUBSCRIBE

.subscribe {
	padding: 52px 0 50px 0;
	.container {
		margin: 0 auto;
		padding: 0 16.667%;
	}
	h2 {
		font-size: 24px;
		font-weight: 300;
		color: #aaaaaa;
		margin: 0;
		padding: 0;
	}
	form {
		width: 100%;
		margin-top: 10px;
		.input-wrap {
			position: relative;
			label {
				position: absolute;
				top: -10px;
				left: 24px;
				z-index: 5;
				svg {
					width: 23px;
					fill: #d4dadf;
				}
			}
		}
		// /.input-wrap
		input[type=text] {
			width: 70%;
			padding: 18px 0 18px 66px;
			margin-right: 2%;
			border: none;
			box-shadow: none;
			background: #f8f8f8;
			border-radius: 5px;
			color: #b8b8b8;
			font-size: 14.66px;
			&::-webkit-input-placeholder {
				color: #d4dadf;
			}
			&:focus {
				@include focus;
			}
		}
		// /input[type=text]
		input[type=submit] {
			width: 28%;
			min-width: 100px;
			max-width: 150px;
			color: #fff;
			text-align: center;
			font-weight: 300;
			font-size: 18px;
			padding: 13px 0;
			background: $teal;
			border-radius: 5px;
			border: none;
			box-shadow: 0 3px 0 #088871;
			&:hover {
				background: #009e81;
				box-shadow: 0 3px 0 #004f40;
				@include hover(all,0.3s)
			}
			&:active {
				background: #009e81;
				box-shadow: 0 3px 0 #004f40;
			}
			&:focus {
				@include focus-btn;
			}
		}
		// /input[type=submit]
	}
	// /form
	p {
		width: 60%;
		font-size: 14.66px;
		color: #9ba8b1;
	}
}
// /.subscribe

// FOOTER

footer {
	background: #e2e2e2;
	padding: 30px 0;
	.copyright {
		float: left;
		img {
			width: 13px;
			height: 13px;
			margin: 0 5px;
		}
	}
	// /.copyright
	.social-media {
		float: right;
		h5 {
		font-size: 14px;
		font-weight: 300;
		color: #b7b7b7;
		display: inline-block;
		}
		.icons {
			display: inline-block;
			position: relative;
			top: 8px;
		}
		ul {
			padding-left: 10px;
			li {
			list-style-type: none;
			text-align: center;
			display: inline-block;
			margin-right: $gutter-width;
				&:last-child {
					margin-right: 0;
				}
				svg {
					fill: #b7b7b7;
					width: 24px;
					height: 24px;
					&:hover {
						@include hover(all,0.3s)
					}
				}
				svg.facebook:hover {
					fill: #3b5998;
				}
				svg.twitter:hover {
					fill: #00acee;
				}
				svg.forrst:hover {
					fill: #5b9a68;
				}
				svg.dribbble:hover {
					fill: #ea4c89;
				}
			}
		}
		// /ul
	}
	// /.social-media
	h6 {
		font-size: 14px;
		font-weight: 300;
		color: #8c8c8c;
		margin:0 0 19px 0;
	}
	h6.copy {
		color: #6b6b6b;
		margin: 0;
	}
} 
// /footer

@import '_queries';